block content
    link(rel="stylesheet", href="./javascripts/dist/dropzone.css")
    script(src="./javascripts/dist/dropzone.js")
    form(action="/upload", method="POST", enctype="multipart/form-data", class="dropzone needsclick dz-clickable", id="upload-widget")
    script(src="./javascripts/test.js")