include templates/head
body
    .upload-box
        .container
            .row
                .col-xs-12
                    .panel.panel-default
                        .panel-body
                            span.glyphicon.glyphicon-cloud-upload(style="color: #05386B;")
                            br
                            br
                            button.btn.btn-lg.upload-btn(type="button") Upload File
                            input#upload-input(type="file", accept=".txt", name="upload")
                            br
                            br
                            .progress
                                .progress-bar(role="progressbar")
                            form(action="/query", method="POST")
                                input.input-lg#query-input(type="submit" value="Query")
    br
    script(src="javascripts/upload.js")