extends layout

block content
    p Enabling batch updates of amphibian taxonomies to the most current ones
    p To get started, upload a .txt file containing a list of genus-species names delimited by commas or newlines below.
    body
        include form
