doctype html
html
    head
        title= `${title}`
        link(href="bootstrap/bootstrap.css", rel="stylesheet")
        link(href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet")
        .page-header
            h1 amphibNames
                small(class="text-muted", style="padding-left: 10px;") Batch updates of amphibian taxonomies
    body
        block content
