body {
    padding: 50px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    color: #767a70;
}

a:hover {
    color: #767a70;
    text-decoration: none;
}

#upload-input {
    display: none;
}

.btn:focus, .upload-btn:focus {
    outline: 0 !important;
}

html,
body {
    position: relative;
    height: 100%;
    background-color: #5CDB95;
    color: #EDF5E1;
}

.upload-box {
    text-align: center;
}

#upload-box {
    color: #05386B;
}

.row {
    margin-top: 80px;
}

.upload-btn {
    color: #ffffff;
    background-color: #F89406;
    border: none;
}

.query-form {
    color: #ffffff;
    background-color: #F89406;
    border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
    color: #ffffff;
    background-color: #FA8900;
    border: none;
}

h4 {
    padding-bottom: 30px;
    color: #B8BDC1;
}

.glyphicon {
    font-size: 5em;
    color: #9CA3A9;
}

h2 {
    margin-top: 15px;
    color: #68757E;
}

.panel {
    padding-top: 20px;
    padding-bottom: 20px;
}

#upload-input {
    display: none;
}

.divider {
    width: 20px;
    height: auto;
    display: inline-block;
}

/* for "Query" button */
form {
    display: inline;
}

input:focus {
    outline: 0 !important;
}


input[type=submit] {
    color: #ffffff;
    background-color: #F89406;
    border: none;
}

input:hover,
input:focus,
input:active,
input.active {
    color: #ffffff;
    background-color: #FA8900;
    border: none;
}

/* Query table results */
table, caption {
    width: 100%;
    border: 2px solid black;
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #dddddd;
}

th {
    height: 50px;
}

td {
    height: 30px;
}

tr:hover {background-color: #8EE4AF;}
tr:nth-child(odd) {background-color: #05386B;}
tr:nth-child(even) {background-color: #379683;}

caption {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #05386B;
    color: #EDF5E1;
}

/* added CSS for styling */
h1 {
    color: #05386B;
}

small {
    color: #EDF5E1;
}

.gist .blob-code {
    color: #EDF5E1;
}

.content {
    flex: 1 0 auto;
    flex-direction: row;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 0.5em;
    vertical-align: baseline;
}

#download-link {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: #767a70;
}

/* floating effect when hovering on link from hover.css */
.hvr-float {
    display: inline-block;
    vertical-align: baseline;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}

@media (min-width: 768px) {
    .main-container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        display: block;
    }
}