div(class="footer")
    .footer
        | #[a(href="https://github.com/kevinxchan") #[simple-svg(data-icon="zmdi-github", data-width="35", data-height="37")]]
        | #[.divider]
        | #[a(href="https://www.kevinxchan.me/") #[simple-svg(data-icon="fa-user-circle" data-width="35" data-height="35")]]